.card {

    //FUNCTIONALITY
    //Perspective has to be on the parent
    perspective: 150rem;
    -moz-perspective: 150rem; //To make it work in firefox. 
    height: 52rem; //When we declare position absolute, the parent will lose it's height and be taken out of the natural flow. To fix this we have to specifiy the same height. 
    position: relative;

    &__side {
        height: 52rem;
        transition: all .8s ease;

        //to make the cards on top of each other. 
        position: absolute; //Absolute position will make it so that it fits its width. For example, since there is only text at the moment, the width is the width of the text. 
        top: 0;
        left: 0;
        width: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden; //Hidden makes it hide the backpart. Meaning when we rotate, we are unable to see the backpart.  

        border-radius: .3rem;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        overflow: hidden; // This is for the background images on the cards to keep the edges round. 

        &--front {


            &-1 {
                background-color: $color-white;
            }

            &-2 {
                background-color: $color-white;
            }

            &-3 {
                background-color: $color-white;
            }
        }

        &--back {

            transform: rotateY(180deg); //Starts off rotated 180 degrees 

            &-1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }

            &-2 {
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }

            &-3 {
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0); //This will bring it to the front since it starts at 180 degrees
    }

    //FRONT SIDE STYLING
    &__picture {
        background-size: cover; //Outside of selector, because it is for all images
        height: 23rem;
        background-blend-mode: screen; //this is to blend the background images in background-image.


        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); // Each comma is X Y pair.
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); // Each comma is X Y pair. 

        border-top-left-radius: 3px;
        border-top-right-radius: 3px;

        &--1 {
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url(../img/nat-5.jpg);
        }

        &--2 {
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), url(../img/nat-6.jpg);
        }

        &--3 {
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url(../img/nat-7.jpg);
        }
    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        color: white;

        text-align: right;
        position: absolute;
        top: 12rem;
        right: 2rem;
        width: 75%;
    }

    &__heading-span {

        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone; //to make both thesea and explorer boxes the same. 
        box-decoration-break: clone;


        &--1 {
            background-image: linear-gradient(to right bottom,
                rgba($color-secondary-light, .85),
                rgba($color-secondary-dark, .85));
        }

        &--2 {
            background-image: linear-gradient(to right bottom,
                rgba($color-primary-light, .85),
                rgba($color-primary-dark, .85));
        }

        &--3 {
            background-image: linear-gradient(to right bottom,
                rgba($color-tertiary-light, .85),
                rgba($color-tertiary-dark, .85));
        }
    }

    &__details {

        padding: 3rem;

        ul {
            list-style: none;
            width: 80%;

            margin: 0 auto; //center a block element within a block element;

            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-light-2;
                }
            }
        }
    }

    //BACK SIDE STYLING
    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);

        width: 90%; //To fix the button

        text-align: center;
    }

    &__price-box {
        text-align: center;
        margin-bottom: 8rem;
        color: $color-white;
    }

    &__price-only {
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__price-value {
        font-size: 6rem;
        font-weight: 100;
    }


    @include respond(tab-port) {

        height: auto; //When we declare position absolute, the parent will lose it's height and be taken out of the natural flow. To fix this we have to specifiy the same height. 

        border-radius: .3rem;
        background-color: $color-white;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        

        &__side {
            height: auto; 
            position: relative;
            box-shadow: none;
            

            &--back {

                transform: rotateY(0); //Starts off rotated 180 degrees 
                clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
            }
        }

        &:hover &__side--front {
            transform: rotateY(0);
        }

        &__details {
            padding: 1rem 3rem;
        }
        //BACK SIDE STYLING
        &__cta {
            position: relative;
            top: 0;
            left: 0;

            transform: translate(0);

            width: 100%; //To fix the button

            padding: 7rem 4rem 4rem 4rem;
        }

        &__price-box {
            margin-bottom: 3rem;
        }


        &__price-value {
            font-size: 4rem;
        }

    }
}

//.card:hover .card__side - This is just to flip one side.