.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: rgba($color-white, .65);
    border-radius: .3rem;

    padding: 6rem;
    padding-left: 9rem; //Because of the shape transform

    font-size: $default-font-size;

    transform: skewX(-12deg);

    @include respond(tab-port) {
        width: 100%;
        padding: 4rem;
        padding-left: 7rem;
    }

    @include respond(phone) {
        transform: skewX(0);
    }

    //Direct Child selecting everything - This doesn't work for the picture because it already has a transform and it takes precedence. 
    & > * {
        transform: skewX(12deg);

        @include respond(phone) {
            transform: skewX(0);
        }
    }

    &__shape {
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        float: left;

        
        overflow: hidden;
        transform: translateX(-3rem) skewX(12deg); 
        position: relative; //For the absolute on the figcaption 

        @supports (clip-path: plygon(0 0)) or (-webkit-clip-path: plygon(0 0)) {
            width: 15rem;
            height: 15rem;

            -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
            -webkit-shape-outside: circle(50% at 50% 50%); //Radius at center. Element must be floated/
            shape-outside: circle(50% at 50% 50%); //Radius at center. Element must be floated and it also has to have a width and a height. 
        }
        @include respond(phone) {
            transform: translate(-3rem) skewX(0);
        }
    }

    &__image {
        height: 100%;
        transform: translateX(-4rem) scale(1.4);
        transition: all .5s;
    }

    &__text {
        transform: skewX(12deg);

        @include respond(phone) {
            transform: skewX(0);
        }
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0);
        color: $color-white;
        font-size: 1.7rem;
        text-align: center;

        opacity: 0; //Make invisible before the hover

        transition: all .5s;
        backface-visibility: hidden; //fixes small movement glitches. 
    
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__image{
        transform: translateX(-4rem) scale(1);
        filter: blur(.3rem) brightness(80%); //To blur the background
    }
}